{{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.capacity) }}
        {{ form_row(form.address) }}
        {{ form_row(form.description) }}
        {{ form_row(form.equipments) }}
<button type="submit">Ajouter</button>
{{ form_end(form) }}
